[rm]
# ===================================== 微信通知 =====================================
#
#  设置corpid、Token和EncodingAESKey用于接收企业微信的推送消息
#  设置forward用于转发请求至RM的处理服务
#
# ====================================================================================
corpid          =   xxx
Token           =   xxx
EncodingAESKey  =   xxx
forward         =   xxx